{% extends 'base.html.twig' %}

{% block title %}Informations de livraison{% endblock %}

{% block body %}

<div class="container mt-4 border border-dark">
    <h1 class="mb-4">Informations de livraison</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.adresse) }}
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.ville) }}
                    {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.codePostale) }}
                    {{ form_widget(form.codePostale, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.pays) }}
                    {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="text-center"> 
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
